<div class="container-fluid  border w-50 m-2">
  <div class="row">



    <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
      <label for="fromDate">From Date:</label>
      <input id="fromDate" type="date" formControlName="fromDate">
      <!-- <div class="alert alert-danger" role="alert" *ngIf="dateForm.controls['fromDate'].touched">
        <span class="alert alert-danger" role="alert" *ngIf="dateForm.controls['fromDate'].hasError('required')">
          It is required!!
        </span>
      </div> -->

      <label for=" toDate">To Date:</label>
      <input id="toDate" type="date" formControlName="toDate">
      <!-- <div class="alert alert-danger" role="alert"
        *ngIf="dateForm.controls['toDate'].touched &&  dateForm.controls['toDate'].invalid ">
        <div class="alert alert-danger" role="alert" *ngIf="dateForm.controls['toDate'].hasError('required')">
          It is required!!
        </div>
      </div> -->



      <button type="submit">Submit</button>
    </form>
  </div>
</div>