<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="MainSection">
		<div class="MenuContainer" [ngClass]="{'MenuSlideActive': isMenuOpen }">
			<div class="Common100perc MenuLogo">
				<img class="BigLogo" src="../assets/images/iMagic.png"/>
			</div>
			<div class="Common100perc TabCntnr" >
				<div class="TabSectn">
					<input type="radio" id="Tab1" name="TabInput" checked/>
					<label for="Tab1">Life Insurance</label>
					
					<div class="TabCntnt">
						<div class="Common100perc SearchDiv">
							<input type="text" placeholder="Search" class="SearchInput"/>
							<img src="../assets/images/SearchIcon.png"/>
						</div>
						<div class="MenusCntnr">
							<ul>
								<li *ngFor="let module of uniqueModuleList">
									<!-- <a class="MenuLevel_1" [ngClass]="{'MenuLevel_1_Active': isMenu1Active}" (click)="onMenu1Click()" >
										<img class="MenuIcon" [src]="item.imgName"/>
										<span>{{item.name}}</span>
									</a> -->
									<a class="MenuLevel_1"   [class.MenuLevel_1_Active]="module.isActive"
									(click)="onMenu1Click(module)">
										<img class="MenuIcon" [src]="module.imgName" alt="{{module.name}}"/>
										<span>{{module.name}}</span>
									</a>
									
									<ul>
										<li *ngFor="let submenu of module.submenu">
											
											<!-- <a class="MenuLevel_2" [ngClass]="{'MenuLevel_2_Active': isMenu2Active}" (click)="onMenu2Click()">
												<span>{{submenu.menuName}}</span>
											</a> -->
											<a class="MenuLevel_2" [class.MenuLevel_2_Active]="submenu.isActive"
											(click)="onMenu2Click(submenu,module)">
												<span>{{submenu.menuName}}</span>
											</a>
											<!-- <ul>
												<li><a>Zones of LIC</a></li>
												<li><a>Divisions of LIC</a></li>
												<li><a>Branches of LIC</a></li>
												<li><a>Agencies</a></li>
												<li><a>Doctors on LIC Panel</a></li>
												<li><a>Company P.A. Code</a></li>
												<li><a>Plans of LIC</a></li>
												<li><a>NAV Downloads</a></li>
												<li><a>Area Master</a></li>
												<li><a>Merge Area</a></li>
											
											</ul> -->
											<ul>
												<li a *ngFor="let subItmes of submenu.submenus">
													<a>{{subItmes.menuName}}</a>
												</li>
											</ul>
										</li>
										<!-- <li>
											<a class="MenuLevel_2">
												<span>Customer Management</span>
											</a>
										</li>
										<li>
											<a class="MenuLevel_2">
												<span>Proposal & Policy Management</span>
											</a>
										</li>
										<li>
											<a class="MenuLevel_2">
												<span>Premium Management</span>
											</a>
										</li>
										<li>
											<a class="MenuLevel_2" >
												<span>Commission Data</span>
											</a>
										</li>
										<li>
											<a class="MenuLevel_2">
												<span>Loan Transactions</span>
											</a>
										</li> -->
									</ul>
								</li>
								
							</ul>
						</div>
					</div>
				</div>    
				
				<div class="TabSectn">
					<input type="radio" id="Tab2" name="TabInput"/>
					<label for="Tab2">Wealth Management</label>
					
					<div class="TabCntnt">
						Wealth Management content...
					</div>
				</div>
				
			</div>
		</div>
		<div class="MainOuterContainer">
			<div class="TopSection" >
				<img (click)="onMenuOpen()" class="MenuBtn" [ngClass]="{'MenuBtnActive' :isMenuOpen }" src="../assets/images/menubtn.png" />
				<div class="LoginSect">
					<span>Ajay Arora</span>
					<img src="../assets/images/ajaysir.png"/>
				</div>
			</div>
			
			<div class="MiddleContainer_Outer">
				<div class="HeaderDiv" >
					<div class="Common100perc HeaderTabsDiv">
						<div id="Tab1" class="Common25perc HeaderTab HeaderActive">Recent Items</div>
						<div id="Tab2" class="Common25perc HeaderTab">App Usage Analytics</div>
						<div id="Tab3" class="Common25perc HeaderTab">Sales Performance</div>
						<div id="Tab4" class="Common25perc HeaderTab">Business in-Force</div>
					</div>
				</div>
		
				<div class="MiddleContainer_PA">
				
					<div class="TabContainer">
					
						<div id="Tab1Content" class="Common100perc">
							<div class="MiddleTabCntnr">
								<div class=" RecentTab">
									<a href="">Life Insurance Quotation</a>
								</div>
								<div class=" RecentTab">
									<a href="">Customer Login <br>Management</a>
								</div>
								<div class=" RecentTab">
									<a href="">Home Page Designer</a>
								</div>
								<div class=" RecentTab">
									<a href="">Communication Pannel</a>
								</div>
								<div class=" RecentTab">
									<a href="">Agencies Master</a>
								</div>
								<div class=" RecentTab">
									<a href="">ULIP Unit Adjustments</a>
								</div>
								<div class=" RecentTab">
									<a href="">Scheduling Services</a>
								</div>
								<div class=" RecentTab">
									<a href="">Customers Master</a>
								</div>
								<div class=" RecentTab">
									<a href="">LI Policy Entry</a>
								</div>
								<div class=" RecentTab">
									<a href="">Customer Group Master</a>
								</div>
								<div class=" RecentTab">
									<a href="">Health Qoute</a>
								</div>
								<div class=" RecentTab">
									<a href="">LI Policy Alteration</a>
								</div>
							</div>
						</div>
						
						<div id="Tab2Content" class="Common100perc CommonMT25px">
							App Usage Analytics content...
						</div>
						
						<div id="Tab3Content" class="Common100perc CommonMT25px SalesPerform">
							Sales Performance content...
						</div>
						
						<div id="Tab4Content" class="Common100perc CommonMT25px SalesPerform">
							Business in-Force content...
						</div>
						
					</div>
					
				</div>
			</div>
		
		</div>    
		
	</div>
</body>
</html>